*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    display: flex;
   
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(44, 41, 41);
    width: 520px;
    height: auto;
    min-height: 300px;
    border-top: 5px solid rgb(0, 102, 255);
    border-bottom:none;
    border-left: none;
    border-right: none;
    z-index: 999;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(33, 31, 31);
    margin-top: 10rem;
}
h1{
    font-size: 22px;
    color:rgb(0, 119, 255) ;
    font-family: sans-serif;
    margin-top: 2.3rem;
    
}
.text{
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 0.5rem;
    color: rgb(124, 123, 123);
    font-weight: 400;

}

.zone{
    font-family: sans-serif;
    font-size: 11px;
    margin: 0.5rem 0 0 1.2rem;
    color: rgb(124, 123, 123);
    font-weight: 400;
    align-items: none;
}

textarea{
    width: 440px;
    background:rgb(53, 53, 53) ;
    height: 65px;
    margin-top: 2rem;
    padding: 10px;
    border: none;
    color: rgb(231, 231, 231);
    
}

textarea:hover{
    outline:1px solid rgb(0, 119, 255);
    border: none;
    transition: 0.5s;
}
::placeholder{
    color: rgb(203, 203, 203);
}
#add{
    background: none;
    outline:1px solid rgb(0, 200, 255);
    border: none;
    text-align: center;
    width: 140px ;
    height: 35px;
    border-radius: 5px;
    color:rgb(0, 200, 255);
    cursor: pointer;
    
}
.btn{
    display: flex;
    margin-top: 1rem;
    gap: 10px;
}

/* .view{
    display: none;
    width: 440px;
    background:rgb(53, 53, 53) ;
    height: 45px;
    margin-top: 2rem;
    border-left: 4px solid rgb(0, 119, 255);
    color: rgb(0, 200, 255);
    padding: 14px 10px;
    font-family: sans-serif;
    font-size: 13px;
} */


@media screen and (max-width:780px){
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    p{
        text-align: center;
        width: 90%;
    }
    form{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    #text{
        width: 90%;
        max-width: 400px;
    }
     .view{
        display: flex;
        align-items: center;
        width: 90%;
        max-width: 400px;
    }


}